body {
  background: linear-gradient(90deg, rgb(230, 236, 255), rgb(179, 196, 255));
  height: min(100vw, auto);
  max-width: 100vw;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.searchInput {
  display: flex;
  flex-direction: column;
  width: 23em;
}

.searchInput label {
  padding-bottom: 20px;
  font-size: 1.1em;
  font-weight: bold;
}

.searchInput input,
.searchButton {
  border: 2px solid;
  border-radius: 10px;
}

.searchButton {
  background-color: navajowhite;
  font-size: 1em;
  font-weight: bold;
  height: fit-content;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  padding: 20px;
}

.weatherContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: auto;
  justify-items: center;
}
/* 
.today {
  grid-area: 1 / 1 / 2 / 3;
} */

.today,
.tomorrow,
.afterTomorrow {
  display: grid;
  justify-items: center;
  width: 1fr;
}

.displayWeather {
  height: max(100px, 20em);
  width: clamp(100px, 20em, 300px);
  border: 1px dotted rgb(77, 115, 255, 0.4);
  box-shadow: 5px 5px 10px rgb(77, 115, 255, 0.4);
}
